<br>
<myw-button w="100" (click)="update()" >检测新版本</myw-button> 
<br>
下载进度：{{percent}}
<br>
项目使用了以下开源技术。特此鸣谢：
html、css、scss、javascript、typescript、angular、electron、nestjs、nginx、mysql、nodejs、npm、rsjx、wangeditor
<hr>
项目官网：
<a (click)="toMayiwen()" style="color: blue;">http://mayiwen.com</a>
<br>
<h3>免责声明</h3>
<p>-----------------</p>
<p>本软件为非赢利软件，仅供学习开发技术以技术学习为目的人使用。</p>

mayiwen软件版本： {{version}}，

<br>
版本重要更新记录：
<br>
<p>0.1.0 添加思维导图</p>
<p>0.2.0 添加登录功能</p>
<p>0.3.0 启用自定义组件开发计划</p>
<p>0.3.5 支持黑白主题，启用黑白主题重置 2023-08-09</p>
<p>0.3.27 黑白主题隐式支持，不再单独显示。开始开发诺若码管网界面。 2023-09-02</p>
<p>0.3.29 支持message、modal、alert、split 功能</p>
<p>0.3.37 支持gap, icon,  功能 2023-09-05</p>
<p>0.3.40 完成tree组件基础。原本发现在单一组件html界面也可以完成递归，很开心。 2023-09-15</p>
<p>0.3.61 将组件拨离，以 mayiwen_angular单独存在 2023-10-12 升级到angular16</p>
mayiwen_angular自定义组件版本: 0.0.2。
<p>0.0.1 button 与 tabset组件 2023-08-26 </p>
<p>0.0.2 table组件基础 2023-09-01 </p>
