<h2>一：更新</h2>
<myw-button w="100" (click)="update()" >检测新版本</myw-button> 
<myw-gap></myw-gap>
下载进度：{{percent}}
<myw-gap></myw-gap>
<h2>技术栈支持</h2>
项目使用了以下开源技术。特此鸣谢：
html、css、scss、javascript、typescript、angular、electron、nestjs、nginx、potgresSql、nodejs、npm、rsjx、wangeditor、mayiwen_angular
<myw-gap></myw-gap>
<p>历年学习，才有这些知识储备。深知软件来之不易，望以此为基石，迈向更宽广的天空。</p>
<h2>官网</h2>
项目官网：
<a (click)="toMayiwen()" style="color: blue;">http://mayiwen.com</a>
<br>
<h3>免责声明</h3>
<p>-----------------</p>
<p>本软件为非赢利软件，仅供技术学习参考之用。</p>
<h2>版本更新记录</h2>

mayiwen软件版本： {{version}}，

<br>
版本重要更新记录：
<br>
<p>0.1.0 添加思维导图</p>
<p>0.2.0 添加登录功能</p>
<p>0.3.0 启用自定义组件开发计划</p>
<p>0.3.5 支持黑白主题，启用黑白主题重置 2023-08-09</p>
<p>0.3.27 黑白主题隐式支持，不再单独显示。开始开发诺若码官网界面。 2023-09-02</p>
<p>0.3.29 支持message、modal、alert、split 功能</p>
<p>0.3.37 支持gap, icon,  功能 2023-09-05</p>
<p>0.3.40 完成tree组件基础。原本发现在单一组件html界面也可以完成递归，很开心。 2023-09-15</p>
<p>0.3.61 将组件拨离，以 mayiwen_angular单独存在 2023-10-12 升级到angular16</p>
mayiwen_angular自定义组件版本: 0.0.2。
<p>0.0.1 button 与 tabset组件 2023-08-26 </p>
<p>0.0.2 table组件基础 2023-09-01 </p>
<p>0.3.67 将数据库从换成mysql换成postgresSql 2023-10-28 </p>
<p>0.3.77 添加版本更新功能 2023-11-10</p>
