* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--myw-bc);
    color: var(--myw-color);
}

html {
    --myw-color: #515151;
    /*颜色*/
    --myw-border: #ccc;
    /*边框*/
    --myw-bc: #f7f7f7;
    /*背景*/
    --myw-boxBc: #f1f1f1;
    /*一级盒子背景*/
    --myw-activeBc: #e6e6e6;
    /*一级盒子选中色*/
    --myw-active: #4e6ef2;
    /*选中色*/
    --myw-redDefault: #e74c3c;
    /*红色悬停*/
    --myw-redHover: #d64130;
    /*红色悬停*/
    --myw-redDisabled: #f3a69e;
    /*红色禁用*/
    --myw-blueDefault: #3f85ff;
    /*蓝色悬停*/
    --myw-blueHover: #2b77fc;
    /*蓝色悬停*/
    --myw-blueDisabled: #9fc2ff;
    /*蓝色禁用*/
    --myw-yellowDefault: #f1c40d;
    /*黄色悬停*/
    --myw-yellowHover: #e9bd0c;
    /*黄色悬停*/
    --myw-yellowDisabled: #f8e286;
    /*黄色禁用*/
}

html[data-mayiwen-theme="black"] {
    --myw-color: #afafaf;
    /*颜色*/
    --myw-border: #444;
    /*边框*/
    --myw-bc: #242424;
    /*背景*/
    --myw-boxBc: #333;
    /* 一级盒子背景 */
    --myw-activeBc: #393939;
    /* 一级盒子选中色 */
    --myw-active: #4e6ef2;
    /* 选中色 */
    --myw-redDefault: #e74c3c;
    /* 红色悬停 */
    --myw-redHover: #d64130;
    /* 红色悬停 */
    --myw-redDisabled: #f3a69e;
    /* 红色禁用 */
    --myw-blueDefault: #3f85ff;
    /* 蓝色悬停 */
    --myw-blueHover: #2b77fc;
    /* 蓝色悬停 */
    --myw-blueDisabled: #9fc2ff;
    /* 蓝色禁用 */
    --myw-yellowDefault: #f1c40d;
    /* 蓝色悬停 */
    --myw-yellowHover: #e9bd0c;
    /* 蓝色悬停 */
    --myw-yellowDisabled: #f8e286;
    /* 蓝色禁用 */
}

.myw-button {
    color: var(--myw-color);
    background-color: var(--myw-boxBc);
    border: 1px solid var(--myw-border);
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    border-radius: 4px;
    outline: none;
    position: relative;
    cursor: pointer;
    min-width: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    user-select: none;
    vertical-align: top;
}

.myw-button:hover,
.myw-button.active {
    background-color: var(--myw-activeBc);
    color: var(--myw-active);
}
.myw-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}

.myw-button:active {
    transform: scale(0.9);
}

.myw-rotate {
    animation: myw-rotate-frames 1s ease-in-out infinite;
}

.myw-input {
    background-color: var(--myw-boxBc);
    color: var(--myw-color);
    border-radius: 4px;
    padding: 0 4px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid var(--myw-border);
    outline: none;
}
.myw-input:disabled {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none; /* 阻止所有鼠标事件（点击、悬停等） */
}

/* 隐藏数字输入框的增减按钮 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox 兼容 */
input[type="number"] {
    -moz-appearance: textfield;
}
@keyframes myw-rotate-frames {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.routing-progress {
    width: 100%;
    height: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
}
.main {
    height: 100dvh;
}

.ellipsis {
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 显示省略号来代表被修剪的文本 */
}
