
<div style="padding: 10px;">
  <myw-tabs [(ngModel)]="tabIndex" ngDefaultControl >
   
    <myw-tab v="登录" (click)="toroute()" [routerLink]="['login']">
        <router-outlet  ></router-outlet>
    </myw-tab>
    <myw-tab v="首页链接">
      <ng-template mywTab>
        <app-setting-link ></app-setting-link>
      </ng-template>
    </myw-tab>
    <myw-tab v="首页标题">
      <ng-template mywTab>
        <app-setting-title ></app-setting-title>
      </ng-template>
    </myw-tab>
    <myw-tab v="新版发布">
      <ng-template mywTab>
        <app-update ></app-update>
      </ng-template>
    </myw-tab>
    <myw-tab v="升级/关于">
      <ng-template mywTab>
        <app-setting-abuot ></app-setting-abuot>
      </ng-template>
    </myw-tab>
  </myw-tabs>
</div>