<span> 诺若码 </span> <span> nuoruo.com</span> 用编程的手段制作一个较为完善的输入法。以研究数据处理及数据库知识
<myw-tabs>

    <myw-tab v="字频表">
       
    </myw-tab>
    <myw-tab v="单字前1500">
        <ng-template mywTab>
            <app-nuoruoma-font1500></app-nuoruoma-font1500>
        </ng-template>
    </myw-tab>
       <!-- <myw-tab v="获取">
        <ng-template mywTab>
            <app-nuoruoma-scroll></app-nuoruoma-scroll>
        </ng-template>
    </myw-tab> -->
     <!--
   -->
    
    <myw-tab v="设计">
        <ng-template mywTab>
            <app-nuoruoma-design></app-nuoruoma-design>
        </ng-template>
    </myw-tab>
</myw-tabs>