@import "~@wangeditor/editor/dist/css/style.css";
// 通用样式定义
@import './common/style/handle.scss';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


::-webkit-scrollbar {
  padding-top: 30px;
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 40px;
}
* {
  margin: 0;
  padding: 0;
}
input, textarea {
  border: 1px solid #ccc;

  &:focus {
    border: 1px solid #ccc;
    outline: none;
  }
}

.ellipsis {
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}



:root {
  --backup-bg-color: red;
}

.marginLeft10px {
  margin-left: 10px;
}
.marginRight10px {
  margin-right: 10px;
}
.marginTop10px {
  margin-top: 10px;
}
.marginBottom10px {
  margin-bottom: 10px;
}

// .icon {
//   width: 1em;
//   height: 1em;
//   vertical-align: -0.15em;
//   fill: currentColor;
//   overflow: hidden;
// }